.ContactForm {
  max-width: 400px;
  border: 1px solid #17a2b8;
  border-radius: 0.25rem;
  padding: 15px;
  margin-bottom: 20px;
}
/* .formLabel {
  display: block;
  margin-bottom: 20px;
}
.formInput {
  display: block;
  width: 250px;
  margin: 10px 0;
  outline: rgb(63, 154, 240);
}*/
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
}
